<div>
    <H1>Just a few more steps to a better student experience</H1>
</div>

<div>
    
    <form action="/users" method="POST">
        <label for="name">Full Name</label>
        <input type="name" name="name" id="name">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
    
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    
        <label for="instructor">Instructor</label>
        <input type="radio" id="instructor" name="instructor">
        
    
    
        <button type="submit">Sign Up</button>
    </form>
</div>

